ingecon-vatimetro-modbus-influxdb.json
[{"id":"e39cfa5e153e8378","type":"tab","label":"To GitHub","disabled":false,"info":"","env":[]},{"id":"9c9d2269a1bbde34","type":"group","z":"e39cfa5e153e8378","name":"CARLO GAVAZZI ET112 WATTMETER MODBUS INFORMATION","style":{"label":true,"color":"#ff0000"},"nodes":["bb32afe0b0efc99e","c2a73c4f95358ea4","e90b72cad09fc533","931f7456b90ff8b1","43707160921c6925","d64374096e47137d","3bcfc25386abed9c","ebbc9d3df87edc0b","255c2d22ad5901fb","2022374b3202155c","84f78c88fa99330f","88195cb0e2642386","2d4c23cfcda158bf","904c12f49c1f5186","67a9ea4b52461d37","60af12e28506fc76","06c1b01afb7a3fc8","568f74d3394be276","33b55a9507e7ae97","7107be57bcada1db","8adf8e9b4efb3288","52d336106a00613f","5a0126cf4f8c9f8b"],"x":54,"y":779,"w":1092,"h":482},{"id":"cbd241cf07526eba","type":"group","z":"e39cfa5e153e8378","name":"INVERTER MODBUS INFORMATION TO INFLUXDB","style":{"label":true,"color":"#ff0000"},"nodes":["7b0f26f6bcffa8c4","39c1bbcae3edd65b","02357f35be6c9b81","99e50138a5739086","321251f8b64e8333","a6c630d7c7dc8bc1","84b76038c0dde45b","9e750efafd076bdb","bd639267b8db8e62","13b4e79488888c6a","d2709d9785d7cabd","4f7051701820e0b8","8606231687b5ad2b","a2ce0554e51d331b","acbfdc6627e68b6e","78a04f1eb81cd4e3"],"x":54,"y":39,"w":1252,"h":682},{"id":"bb32afe0b0efc99e","type":"modbus-read","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Wattmeter Partial kWh","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"328","quantity":"4","rate":"1","rateUnit":"h","delayOnStart":false,"startDelayTime":"1","server":"d8043f74.21d91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":200,"y":1100,"wires":[["8adf8e9b4efb3288"],[]]},{"id":"c2a73c4f95358ea4","type":"debug","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1100,"wires":[]},{"id":"e90b72cad09fc533","type":"modbus-read","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Wattmeter Input Registers","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"256","quantity":"30","rate":"30","rateUnit":"s","delayOnStart":false,"startDelayTime":"1","server":"d8043f74.21d91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":210,"y":880,"wires":[["931f7456b90ff8b1"],[]]},{"id":"931f7456b90ff8b1","type":"buffer-parser","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32le","name":"current","offset":0,"length":1,"offsetbit":0,"scale":"/1000","mask":""},{"type":"int32le","name":"voltage","offset":4,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"active_power","offset":12,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"voltampers","offset":16,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"voltampers_reactive","offset":20,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"power_factor","offset":24,"length":1,"offsetbit":0,"scale":"/1000","mask":""},{"type":"int32le","name":"frequency","offset":32,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"kwh_total_in","offset":36,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"kvahr_total_in","offset":40,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"kwh_total_out","offset":44,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"kvahr_total_out","offset":48,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"power_w_dmd_1min","offset":52,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"power_w_dmd_peak","offset":56,"length":1,"offsetbit":0,"scale":"/10","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":880,"wires":[["3bcfc25386abed9c"]]},{"id":"43707160921c6925","type":"debug","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":920,"wires":[]},{"id":"d64374096e47137d","type":"influxdb out","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","influxdb":"636cb567.cfe544","name":"Write to InfluxDB 1.x","measurement":"et112_wattmeter","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1020,"y":880,"wires":[]},{"id":"3bcfc25386abed9c","type":"change","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Extract Totals","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload ~> | $ | {\t    \"total_exported_kwh\": - kwh_total_out,\t    \"total_imported_kwh\": kwh_total_in\t} |\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":880,"wires":[["d64374096e47137d","43707160921c6925"]]},{"id":"ebbc9d3df87edc0b","type":"modbus-read","z":"e39cfa5e153e8378","d":true,"g":"9c9d2269a1bbde34","name":"Wattmeter High Res kWh","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"1024","quantity":"8","rate":"30","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"d8043f74.21d91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":210,"y":1220,"wires":[["255c2d22ad5901fb"],[]]},{"id":"255c2d22ad5901fb","type":"buffer-parser","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32le","name":"kwh_total_in_integer","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int32le","name":"kwh_total_in_decimal","offset":4,"length":1,"offsetbit":0,"scale":"/1000","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":1220,"wires":[["2022374b3202155c"]]},{"id":"2022374b3202155c","type":"debug","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1220,"wires":[]},{"id":"84f78c88fa99330f","type":"modbus-read","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Wattmeter Version Registers","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"770","quantity":"2","rate":"24","rateUnit":"h","delayOnStart":false,"startDelayTime":"1","server":"d8043f74.21d91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":220,"y":980,"wires":[["88195cb0e2642386"],[]]},{"id":"88195cb0e2642386","type":"buffer-parser","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"version_code","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"revision_code","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":980,"wires":[["52d336106a00613f"]]},{"id":"2d4c23cfcda158bf","type":"debug","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":980,"wires":[]},{"id":"904c12f49c1f5186","type":"modbus-read","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Wattmeter Tariff kWh","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"338","quantity":"4","rate":"24","rateUnit":"h","delayOnStart":false,"startDelayTime":"1","server":"d8043f74.21d91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":190,"y":1160,"wires":[["67a9ea4b52461d37"],[]]},{"id":"67a9ea4b52461d37","type":"buffer-parser","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32le","name":"kwh_in_t1","offset":0,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"kwh_in_t2","offset":4,"length":1,"offsetbit":0,"scale":"/10","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":1160,"wires":[["60af12e28506fc76"]]},{"id":"60af12e28506fc76","type":"debug","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1160,"wires":[]},{"id":"06c1b01afb7a3fc8","type":"modbus-read","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Wattmeter Model Registers","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"11","quantity":"1","rate":"24","rateUnit":"h","delayOnStart":false,"startDelayTime":"1","server":"d8043f74.21d91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":210,"y":1040,"wires":[["568f74d3394be276"],[]]},{"id":"568f74d3394be276","type":"buffer-parser","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"hardware_id_code","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":1040,"wires":[["5a0126cf4f8c9f8b"]]},{"id":"33b55a9507e7ae97","type":"debug","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1040,"wires":[]},{"id":"7107be57bcada1db","type":"comment","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Flow Description (see node Properties)","info":"Carlo Gavazzi ET112 (Item Number : ET112-DIN AV0 1 x S1 X)\nEM100 Series and ET100 Series MODBUS COMMUNICATION PROTOCOL\nhttps://gavazzi.se/app/uploads/2020/11/em111_em112_et112_cp.pdf\n\nMODBUS data obtained from INGECON inverter through TCP/503 port.\n\nFirmware version / revision code for device used: B.4 (hence values at addresses 301025 and above are not available)\n\nSeveral different flows created :\n\n* Main one is for getting all the available metrics through MODBUS (TCP/503 using inverter as the host)\n\n* Rest are either for secondary information (such as model or firmware) or even additional (useless) information\n\n* ET112 MODBUS manual states additional values for precise (Watt precison) of totals only available in firmware B.10 or later, this unit has B.4, and hence not there\n\nPower DMD seems to be a measurment of the power demanded in a given period. By default it is a moving 1-minute average. Hence DMD peak is the minute with the highest average power consumption\n\n","x":230,"y":820,"wires":[]},{"id":"8adf8e9b4efb3288","type":"buffer-parser","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32le","name":"kwh_partial_in","offset":0,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int32le","name":"kvahr_partial_in","offset":4,"length":1,"offsetbit":0,"scale":"/10","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":1100,"wires":[["c2a73c4f95358ea4"]]},{"id":"52d336106a00613f","type":"function","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Value Mapping","func":"let payload=msg.payload;\n\nlet conversions = { \"version_code\": { \"values\": [{ \"val\": 0, \"desc\": \"A\" }, { \"val\": 1, \"desc\": \"B\" }] } };\n\nfunction bitwise(value, positions) {\n    let res = [];\n    for(const position of positions) if(value & 1 << position.val) res.push(position.desc);\n    return res.join(\", \");\n}\n\nfunction valuewise(value, values) {\n    for(const candidate of values) if(value == candidate.val) return candidate.desc;\n}\n\nfor(const conv in conversions) {\n    if(conversions[conv].convert == \"bitwise\") payload[conv+\"_str\"] = bitwise(payload[conv], conversions[conv].positions);\n    else payload[conv+\"_str\"] = valuewise(payload[conv], conversions[conv].values);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":980,"wires":[["2d4c23cfcda158bf"]]},{"id":"5a0126cf4f8c9f8b","type":"function","z":"e39cfa5e153e8378","g":"9c9d2269a1bbde34","name":"Value Mapping","func":"let payload=msg.payload;\n\nlet conversions = { \"hardware_id_code\": { \"values\": [{ \"val\": 101, \"desc\": \"EM111-DIN AV7 1 x S1\" }, { \"val\": 102, \"desc\": \"EM112-DIN AV1 1 x S1\" }, { \"val\": 103, \"desc\": \"EM111-DIN AV8 1 x S1\" }, { \"val\": 104, \"desc\": \"EM112-DIN AV0 1 x S1\" }, { \"val\": 114, \"desc\": \"EM111-DIN AV5 1 X S1 X\" }, { \"val\": 120, \"desc\": \"ET112-DIN AV0 1 x S1 X\" }, { \"val\": 121, \"desc\": \"ET112-DIN AV1 1 x S1 X\" }] } };\n\nfunction bitwise(value, positions) {\n    let res = [];\n    for(const position of positions) if(value & 1 << position.val) res.push(position.desc);\n    return res.join(\", \");\n}\n\nfunction valuewise(value, values) {\n    for(const candidate of values) if(value == candidate.val) return candidate.desc;\n}\n\nfor(const conv in conversions) {\n    if(conversions[conv].convert == \"bitwise\") payload[conv+\"_str\"] = bitwise(payload[conv], conversions[conv].positions);\n    else payload[conv+\"_str\"] = valuewise(payload[conv], conversions[conv].values);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1040,"wires":[["33b55a9507e7ae97"]]},{"id":"7b0f26f6bcffa8c4","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Used Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.consumption_w_now","data":"{\"state\":\"{{payload.consumption_w_now}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:flash\",\"friendly_name\":\"Total Home Power Consumption\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":620,"wires":[[]]},{"id":"39c1bbcae3edd65b","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Self-Consumed Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.self_consumption_w_now","data":"{\"state\":\"{{payload.self_consumption_w_now}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:flash\",\"friendly_name\":\"Total Self-Consumed Power\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1150,"y":680,"wires":[[]]},{"id":"02357f35be6c9b81","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish PV 1 Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.pv1_power","data":"{\"state\":\"{{payload.pv1_power}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:flash\",\"friendly_name\":\"Power Generated from PV Panels\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":500,"wires":[[]]},{"id":"99e50138a5739086","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Battery Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.battery_power","data":"{\"state\":\"{{payload.battery_power}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:flash\",\"friendly_name\":\"Power from Battery\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":560,"wires":[[]]},{"id":"321251f8b64e8333","type":"modbus-read","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Inverter Input Registers","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"6","quantity":"74","rate":"30","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7c9e7be9.c6b294","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":200,"y":380,"wires":[["a6c630d7c7dc8bc1"],[]]},{"id":"a6c630d7c7dc8bc1","type":"buffer-parser","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Parse Buffer","data":"responseBuffer.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"total_operation_time","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"web_interface_bits","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"stop_event","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32be","name":"alarms","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"code1","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"code2","offset":14,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"code3","offset":16,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"inverter_status","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"grid_conn_wait","offset":20,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"battery_voltage","offset":22,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"battery_current","offset":24,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"int16be","name":"battery_power","offset":26,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_soc","offset":28,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_soh","offset":30,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"battery_charge_voltage","offset":32,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"battery_discharge_voltage","offset":34,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"battery_max_charge_current","offset":36,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"int16be","name":"battery_max_discharge_current","offset":38,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"uint16be","name":"battery_status","offset":40,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"battery_temperature","offset":42,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"uint16be","name":"battery_bms_alarms","offset":44,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_discharge_power_reduction_reason","offset":46,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"battery_voltage_internal_sensor","offset":48,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"uint16be","name":"pv1_voltage","offset":50,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"pv1_current","offset":52,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"uint16be","name":"pv1_power","offset":54,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"pv2_voltage","offset":56,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"pv2_current","offset":58,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"uint16be","name":"pv2_power","offset":60,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"inverter_active_power","offset":62,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"inverter_reactive_power","offset":64,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"inverter_cosphi","offset":66,"length":1,"offsetbit":0,"scale":"/1000","mask":""},{"type":"int16be","name":"active_power_reduction_ratio","offset":68,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"uint16be","name":"active_power_reduction_reason","offset":70,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"reactive_power_setpoint_type","offset":72,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"critical_loads_voltage","offset":74,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"critical_loads_current","offset":76,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"int16be","name":"critical_loads_frequency","offset":78,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"int16be","name":"critical_loads_active_power","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"critical_loads_reactive_power","offset":82,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"internal_wattmeter_grid_voltage","offset":84,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"internal_wattmeter_grid_current","offset":86,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"int16be","name":"internal_wattmeter_grid_frequency","offset":88,"length":1,"offsetbit":0,"scale":"/100","mask":""},{"type":"int16be","name":"internal_wattmeter_grid_active_power","offset":90,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"internal_wattmeter_grid_reactive_power","offset":92,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"internal_wattmeter_grid_cosphi","offset":94,"length":1,"offsetbit":0,"scale":"/1000","mask":""},{"type":"uint16be","name":"dc_bus_voltage","offset":96,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"temperature_module_battery","offset":98,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"temperature_module_phpv","offset":100,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"temperature_pcb","offset":102,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"uint16be","name":"temperature_pt100","offset":104,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"positive_isolation_resistance","offset":106,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"negative_isolation_resistance","offset":108,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"rms_differential_current","offset":110,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"digital_output1_status","offset":112,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"digital_output2_status","offset":114,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"digital_input_drm0_status","offset":116,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"digital_input2_status","offset":118,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"digital_input3_status","offset":120,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"hardware_version","offset":122,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_bms_flags","offset":124,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"external_wattmeter_grid_voltage","offset":126,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"external_wattmeter_grid_frequency","offset":128,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"external_wattmeter_grid_active_power","offset":130,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"external_wattmeter_grid_reactive_power","offset":132,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_bms_warnings","offset":134,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_bms_errors","offset":136,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_bms_faults","offset":138,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_bms_protections","offset":140,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"battery_charge_power_reduction_reason","offset":142,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"total_loads_active_power","offset":144,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"external_ingeteam_pv_power","offset":146,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":410,"y":380,"wires":[["84b76038c0dde45b"]]},{"id":"84b76038c0dde45b","type":"function","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Value Mapping","func":"let payload=msg.payload;\n\nlet conversions = { \"web_interface_bits\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 0, \"desc\": \"Green Led Blinking\" }, { \"val\": 1, \"desc\": \"Green Led On\" }, { \"val\": 5, \"desc\": \"Red Led On\" }, { \"val\": 8, \"desc\": \"Fan Test Running\" }, { \"val\": 9, \"desc\": \"Fan Test Ended\" }, { \"val\": 10, \"desc\": \"Grid/Genset Icon Active\" }, { \"val\": 11, \"desc\": \"Battery Icon Active\" }, { \"val\": 12, \"desc\": \"Inverter Icon Active\" }, { \"val\": 13, \"desc\": \"Autotest menu Enabled\" }, { \"val\": 14, \"desc\": \"Critical Loads configured\" }] }, \"stop_event\": { \"values\": [{ \"val\": 0, \"desc\": \"0\" }, { \"val\": 1, \"desc\": \"1 - Low Battery SOC or Voltage\" }, { \"val\": 2, \"desc\": \"2 - High Battery Voltage\" }, { \"val\": 3, \"desc\": \"3 - Communication Error with BMS\" }, { \"val\": 4, \"desc\": \"4 - Inverter stopped from Digital Input\" }, { \"val\": 5, \"desc\": \"5 - Grid Voltage or Frequency out of range\" }, { \"val\": 6, \"desc\": \"6 - DC Bus or PV input Overvoltage\" }, { \"val\": 7, \"desc\": \"7 - DC/AC Fault\" }, { \"val\": 8, \"desc\": \"8 - DC/DC Fault\" }, { \"val\": 9, \"desc\": \"9 - HW Battery Overcurrent\" }, { \"val\": 10, \"desc\": \"10 - Inverter stopped manually\" }, { \"val\": 11, \"desc\": \"11 - Overdischarge in Battery\" }, { \"val\": 12, \"desc\": \"12 - Overload in Critical Loads\" }, { \"val\": 13, \"desc\": \"13 - Short circuit in Critical Loads\" }, { \"val\": 14, \"desc\": \"14 - Low PV Power\" }, { \"val\": 15, \"desc\": \"15 - AC Relays Test\" }, { \"val\": 16, \"desc\": \"16 - Low Inverter Temperature\" }, { \"val\": 17, \"desc\": \"17 - High Inverter Temperature\" }, { \"val\": 18, \"desc\": \"18 - Incremental differential current\" }, { \"val\": 19, \"desc\": \"19 - RMS Differential current\" }, { \"val\": 20, \"desc\": \"20 - Instantaneous differential current\" }, { \"val\": 21, \"desc\": \"21 - Insulation Failure\" }, { \"val\": 22, \"desc\": \"22 - High PV current\" }, { \"val\": 23, \"desc\": \"23 - DC/DC or AC/DC Error\" }, { \"val\": 24, \"desc\": \"24 - ADC Error\" }, { \"val\": 25, \"desc\": \"25 - Configuration change\" }, { \"val\": 26, \"desc\": \"26 - Reserved\" }, { \"val\": 27, \"desc\": \"27 - Wrong type of battery\" }, { \"val\": 28, \"desc\": \"28 - ADC Error\" }, { \"val\": 29, \"desc\": \"29 - Reset Watchdog\" }, { \"val\": 30, \"desc\": \"30 - Alarm in BMS\" }] }, \"alarms\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 0, \"desc\": \"Battery voltage out of range\" }, { \"val\": 1, \"desc\": \"Grid frequency out of range\" }, { \"val\": 2, \"desc\": \"Grid voltage out of range\" }, { \"val\": 3, \"desc\": \"DC/AC Inverter overcurrent or fault\" }, { \"val\": 4, \"desc\": \"DC/DC Battery overcurrent or fault\" }, { \"val\": 5, \"desc\": \"Insulation failure\" }, { \"val\": 6, \"desc\": \"Wrong wired in the installation\" }, { \"val\": 7, \"desc\": \"Inverter temperature out of range\" }, { \"val\": 8, \"desc\": \"DC Bus overvoltage\" }, { \"val\": 9, \"desc\": \"Configuration change\" }, { \"val\": 10, \"desc\": \"Inverter stopped\" }, { \"val\": 11, \"desc\": \"Hardware failure\" }, { \"val\": 12, \"desc\": \"DC/DC or AC/DC Converter Error\" }, { \"val\": 13, \"desc\": \"Transient Grid Frequency (AC Breaker tripped)\" }, { \"val\": 14, \"desc\": \"Battery Temperature out of range\" }, { \"val\": 15, \"desc\": \"Overload capacity exceeded in Battery\" }, { \"val\": 16, \"desc\": \"Overload capacity exceeded in Critical Loads\" }, { \"val\": 17, \"desc\": \"Short circuit in Critical Loads\" }, { \"val\": 18, \"desc\": \"PT100 sensor failure\" }, { \"val\": 19, \"desc\": \"Communication Error with BMS\" }, { \"val\": 20, \"desc\": \"Wrong inverter serial number\" }, { \"val\": 21, \"desc\": \"Transient Grid Voltage (AC Breaker tripped)\" }, { \"val\": 22, \"desc\": \"Wrong type of battery configuration\" }, { \"val\": 23, \"desc\": \"Alarm in the BMS\" }, { \"val\": 24, \"desc\": \"Overcurrent in PV 1 array input\" }, { \"val\": 25, \"desc\": \"Overcurrent in PV 2 array input\" }, { \"val\": 26, \"desc\": \"Full Battery Discharge\" }] }, \"code1\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 1, \"desc\": \"Grid Current Sensor out of full scale range\" }, { \"val\": 2, \"desc\": \"Insulation Failure in PV or Battery terminals\" }, { \"val\": 3, \"desc\": \"Warning: Internal fan blocked\" }, { \"val\": 4, \"desc\": \"Warning: External fan blocked\" }, { \"val\": 5, \"desc\": \"Battery Current Sensor out of full scale range\" }, { \"val\": 6, \"desc\": \"Compensation of DC offset failed\" }, { \"val\": 7, \"desc\": \"Grid Voltage Sensor out of full scale range\" }, { \"val\": 8, \"desc\": \"Avg. Differential Current out of full scale range\" }, { \"val\": 9, \"desc\": \"Inst. Differential Current out of full scale range\" }, { \"val\": 10, \"desc\": \"RMS Differential Current failure\" }, { \"val\": 11, \"desc\": \"Incremental differential current failure\" }, { \"val\": 12, \"desc\": \"Instantaneous differential current failure\" }, { \"val\": 13, \"desc\": \"Inverter stopped manually\" }] }, \"code2\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 0, \"desc\": \"Warning: High Temperature\" }, { \"val\": 1, \"desc\": \"AC Voltage in Critical Loads Output\" }, { \"val\": 2, \"desc\": \"Low PV power to start up the inverter\" }, { \"val\": 3, \"desc\": \"Grid Frequency out of the configured limits\" }, { \"val\": 4, \"desc\": \"Warning: Compensation of DC offset\" }, { \"val\": 5, \"desc\": \"Internal AC relay test failed\" }, { \"val\": 6, \"desc\": \"Grid Voltage out of the configured limits\" }, { \"val\": 7, \"desc\": \"Low Battery Voltage\" }, { \"val\": 8, \"desc\": \"High Battery Voltage\" }, { \"val\": 9, \"desc\": \"Communication Error with BMS\" }, { \"val\": 10, \"desc\": \"Maximum Critical Loads Power in Off-Grid\" }, { \"val\": 11, \"desc\": \"Low Critical Loads Voltage in Off-Grid\" }, { \"val\": 12, \"desc\": \"Maximum Critical Loads Power in On-Grid\" }, { \"val\": 13, \"desc\": \"Alarm in the BMS\" }, { \"val\": 14, \"desc\": \"Internal Differential Current test failed\" }, { \"val\": 15, \"desc\": \"Inverter stopped by the Digital Input\" }] }, \"code3\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 0, \"desc\": \"PT100 disconnected or shortcircuited\" }, { \"val\": 1, \"desc\": \"High Battery Temperature\" }, { \"val\": 2, \"desc\": \"Warning: DC/DC Battery cannot operate\" }, { \"val\": 3, \"desc\": \"Warning: Synchronization with the grid not successful\" }, { \"val\": 4, \"desc\": \"Warning: Transient failure detection in the Grid (12ms)\" }, { \"val\": 5, \"desc\": \"Warning: DC/DC PV input 1 cannot operate\" }, { \"val\": 6, \"desc\": \"Battery SOC lower than configured SOC Descx\" }, { \"val\": 7, \"desc\": \"Warning: DC/DC PV input 2 cannot operate\" }, { \"val\": 8, \"desc\": \"Warning: Date not synchronized\" }, { \"val\": 9, \"desc\": \"Warning: RTC CR2032 battery exhausted\" }, { \"val\": 10, \"desc\": \"Warning: Injection of power to the generator\" }, { \"val\": 11, \"desc\": \"Warning: Generator Voltage out of range\" }, { \"val\": 12, \"desc\": \"Warning: Generator Frequency out of range\" }, { \"val\": 13, \"desc\": \"Warning: Transient Grid Voltage (AC Breaker tripped)\" }, { \"val\": 14, \"desc\": \"Warning: Transient Grid Frequency (AC Breaker tripped)\" }] }, \"inverter_status\": { \"values\": [{ \"val\": 0, \"desc\": \"Stopped\" }, { \"val\": 1, \"desc\": \"Starting\" }, { \"val\": 2, \"desc\": \"Off-Grid\" }, { \"val\": 3, \"desc\": \"On-Grid\" }, { \"val\": 4, \"desc\": \"On-Grid (Standby-Battery)\" }, { \"val\": 5, \"desc\": \"Waiting to connect to Grid\" }, { \"val\": 6, \"desc\": \"Critical Loads Bypassed to Grid\" }, { \"val\": 7, \"desc\": \"Emergency Charge from PV\" }, { \"val\": 8, \"desc\": \"Emergency Charge from Grid\" }, { \"val\": 9, \"desc\": \"Inverter Locked Waiting for Reset\" }, { \"val\": 10, \"desc\": \"Error Mode\" }, { \"val\": 11, \"desc\": \"Off-Grid in AC Grid\" }] }, \"battery_status\": { \"values\": [{ \"val\": 0, \"desc\": \"Standby\" }, { \"val\": 1, \"desc\": \"Discharging\" }, { \"val\": 2, \"desc\": \"Constant Current Charging\" }, { \"val\": 3, \"desc\": \"Constant Voltage Charging\" }, { \"val\": 4, \"desc\": \"Floating\" }, { \"val\": 5, \"desc\": \"Equalizing\" }, { \"val\": 6, \"desc\": \"Error Communication with BMS\" }, { \"val\": 7, \"desc\": \"No Configured\" }, { \"val\": 8, \"desc\": \"Capacity Calibration - Charging (Step 1)\" }, { \"val\": 9, \"desc\": \"Calibration - Discharging (Step 2)\" }] }, \"battery_bms_alarms\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 0, \"desc\": \"High Current during Charge\" }, { \"val\": 1, \"desc\": \"High Voltage\" }, { \"val\": 2, \"desc\": \"Low Voltage\" }, { \"val\": 3, \"desc\": \"High Temperature\" }, { \"val\": 4, \"desc\": \"Low Temperature\" }, { \"val\": 5, \"desc\": \"Internal BMS Alarm\" }, { \"val\": 6, \"desc\": \"Cell Imbalance\" }, { \"val\": 7, \"desc\": \"High Current during Discharge\" }, { \"val\": 8, \"desc\": \"System BMS Error\" }] }, \"battery_discharge_power_reduction_reason\": { \"values\": [{ \"val\": 0, \"desc\": \"No Limitation\" }, { \"val\": 1, \"desc\": \"Heat Sink Temperature\" }, { \"val\": 2, \"desc\": \"PT100 Temperature\" }, { \"val\": 3, \"desc\": \"Low Bus Voltage Protection\" }, { \"val\": 4, \"desc\": \"Lead-acid Settings\" }, { \"val\": 5, \"desc\": \"BMS Communication\" }, { \"val\": 6, \"desc\": \"SOC Max Configured\" }, { \"val\": 7, \"desc\": \"SOC Min Configured\" }, { \"val\": 8, \"desc\": \"Maximum Battery Power\" }, { \"val\": 9, \"desc\": \"Modbus Command\" }, { \"val\": 10, \"desc\": \"Digital Input 2\" }, { \"val\": 11, \"desc\": \"Digital Input 3\" }, { \"val\": 12, \"desc\": \"PV Charging Scheduling\" }] }, \"battery_charge_power_reduction_reason\": { \"values\": [{ \"val\": 0, \"desc\": \"No Limitation\" }, { \"val\": 1, \"desc\": \"Heat Sink Temperature\" }, { \"val\": 2, \"desc\": \"PT100 Temperature\" }, { \"val\": 3, \"desc\": \"Low Bus Voltage Protection\" }, { \"val\": 4, \"desc\": \"Lead-acid Settings\" }, { \"val\": 5, \"desc\": \"BMS Communication\" }, { \"val\": 6, \"desc\": \"SOC Max Configured\" }, { \"val\": 7, \"desc\": \"SOC Min Configured\" }, { \"val\": 8, \"desc\": \"Maximum Battery Power\" }, { \"val\": 9, \"desc\": \"Modbus Command\" }, { \"val\": 10, \"desc\": \"Digital Input 2\" }, { \"val\": 11, \"desc\": \"Digital Input 3\" }, { \"val\": 12, \"desc\": \"PV Charging Scheduling\" }] }, \"active_power_reduction_reason\": { \"values\": [{ \"val\": 0, \"desc\": \"No Limitation\" }, { \"val\": 1, \"desc\": \"Communication\" }, { \"val\": 2, \"desc\": \"PCB Temperature\" }, { \"val\": 3, \"desc\": \"Heat Sink Temperature\" }, { \"val\": 4, \"desc\": \"Pac vs Fac Algorithm\" }, { \"val\": 5, \"desc\": \"Soft Start\" }, { \"val\": 6, \"desc\": \"Charge Power Configured\" }, { \"val\": 7, \"desc\": \"PV Surplus injected to the Loads\" }, { \"val\": 8, \"desc\": \"Pac vs Vac Algorithm\" }, { \"val\": 9, \"desc\": \"Battery Power Limited\" }, { \"val\": 10, \"desc\": \"AC Grid Power Limited\" }, { \"val\": 11, \"desc\": \"Self Consumption Mode\" }, { \"val\": 12, \"desc\": \"High Bus Voltage Protection\" }, { \"val\": 13, \"desc\": \"LVRT or HVRT Process\" }, { \"val\": 14, \"desc\": \"Nominal AC Current\" }, { \"val\": 15, \"desc\": \"Grid Consumption Protection\" }, { \"val\": 16, \"desc\": \"PV Surplus Injected to the Grid\" }] }, \"reactive_power_setpoint_type\": { \"values\": [{ \"val\": 0, \"desc\": \"Cosφ Configuration\" }, { \"val\": 1, \"desc\": \"Qac Communication\" }, { \"val\": 2, \"desc\": \"Cosφ Communication\" }, { \"val\": 3, \"desc\": \"Qac vs Vac Algorithm\" }, { \"val\": 4, \"desc\": \"Cosφ vs Pac Algorithm\" }] }, \"digital_output1_status\": { \"values\": [{ \"val\": 0, \"desc\": \"OFF\" }, { \"val\": 1, \"desc\": \"ON\" }] }, \"digital_output2_status\": { \"values\": [{ \"val\": 0, \"desc\": \"OFF\" }, { \"val\": 1, \"desc\": \"ON\" }] }, \"digital_input_drm0_status\": { \"values\": [{ \"val\": 0, \"desc\": \"OFF\" }, { \"val\": 1, \"desc\": \"ON\" }] }, \"digital_input2_status\": { \"values\": [{ \"val\": 0, \"desc\": \"OFF\" }, { \"val\": 1, \"desc\": \"ON\" }] }, \"digital_input3_status\": { \"values\": [{ \"val\": 0, \"desc\": \"OFF\" }, { \"val\": 1, \"desc\": \"ON\" }] }, \"hardware_version\": { \"values\": [{ \"val\": 0, \"desc\": \"ABH0039\" }, { \"val\": 1, \"desc\": \"ABH0045\" }, { \"val\": 2, \"desc\": \"ABH0039 - ABH PT100\" }, { \"val\": 3, \"desc\": \"ABH0045 - ABH PT100\" }] }, \"battery_bms_flags\": { \"convert\": \"bitwise\", \"positions\": [{ \"val\": 0, \"desc\": \"Stop Charge\" }, { \"val\": 1, \"desc\": \"Stop Discharge\" }, { \"val\": 2, \"desc\": \"Forced Charge\" }, { \"val\": 3, \"desc\": \"Calibration\" }] } };\n\nfunction bitwise(value, positions) {\n    let res = [];\n    for(const position of positions) if(value & 1 << position.val) res.push(position.desc);\n    return res.join(\", \");\n}\n\nfunction valuewise(value, values) {\n    for(const candidate of values) if(value == candidate.val) return candidate.desc;\n}\n\nfor(const conv in conversions) {\n    if(conversions[conv].convert == \"bitwise\") payload[conv+\"_str\"] = bitwise(payload[conv], conversions[conv].positions);\n    else payload[conv+\"_str\"] = valuewise(payload[conv], conversions[conv].values);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":380,"wires":[["bd639267b8db8e62"]]},{"id":"9e750efafd076bdb","type":"influxdb out","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","influxdb":"636cb567.cfe544","name":"Write to InfluxDB 1.x","measurement":"ingeteam","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1120,"y":140,"wires":[]},{"id":"bd639267b8db8e62","type":"change","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Compute Consumption","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload ~> | $ | {\t   \"production_w_now\": $max([inverter_active_power, 0]),\t   \"export_w_now\": $max([-external_wattmeter_grid_active_power, 0]),\t   \"import_w_now\": $max([external_wattmeter_grid_active_power, 0])\t} |\t~> | $ |{\t   \"consumption_w_now\": production_w_now + external_wattmeter_grid_active_power,\t   \"self_consumption_w_now\": production_w_now - export_w_now\t}|","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[["9e750efafd076bdb","d2709d9785d7cabd","8606231687b5ad2b","4f7051701820e0b8","a2ce0554e51d331b","02357f35be6c9b81","99e50138a5739086","7b0f26f6bcffa8c4","39c1bbcae3edd65b","acbfdc6627e68b6e","78a04f1eb81cd4e3"]]},{"id":"13b4e79488888c6a","type":"comment","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Flow Description (see node Properties)","info":"Flow is adjusted for the INGETEAM SUN STORAGE 1PLAY 6 TL-M inverter with \"_L\" firmware version, as described in \"ABH2010IMB08_G.pdf\" document : \nINGECON SUN STORAGE 1PLAY TL M MODBUS INPUT REGISTERS\nhttp://www.ingeras.es/manual/ABH2010IMB08.pdf\n\n1. Use ModBus-Read node to query SUNSTORAGE through TCP/502 for all values (input registers), 74 values starting at address 6.\n\n2. User Buffer-Parse node to assign names to all input registers read, applying any necessary scaling as described in the document.\n\n3. Use the Function node to map particular key numerical values and bits in bit maps to textual values or booleans\n\n4. Use the Change node with some JSONata code to calculate instantaneous values for production, import, export, consumption and self-consumption.\n   Note these values as in Watts and valid only at the instant they were taken. Using these metrics for integrating consumption data (Wh) will be as reliable as the frequency of collecting data is.\n\n5. Use InfluxDB-Out node to write the whole list of key=value pairs to InfluxDB at a given database and measurement\n\n6. At the same point, use the HA HTTP REST API to publish several metrics as sensors to HA, as they will be handy in HA to make calculations and use Lovelace cards\n\n\n","x":230,"y":80,"wires":[]},{"id":"d2709d9785d7cabd","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Battery SOC","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.battery_soc","data":"{\"state\":\"{{payload.battery_soc}}\",\"attributes\":{\"unit_of_measurement\":\"%\",\"state_class\":\"measurement\",\"friendly_name\":\"Battery SOC\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":200,"wires":[[]]},{"id":"4f7051701820e0b8","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Export Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.export_w_now","data":"{\"state\":\"{{payload.export_w_now}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:transmission-tower\",\"friendly_name\":\"Exported Power to Grid\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":380,"wires":[[]]},{"id":"8606231687b5ad2b","type":"debug","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"a2ce0554e51d331b","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Import Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.import_w_now","data":"{\"state\":\"{{payload.import_w_now}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:transmission-tower\",\"friendly_name\":\"Imported Power from Grid\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":320,"wires":[[]]},{"id":"acbfdc6627e68b6e","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Battery Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.battery_power","data":"{\"state\":\"{{payload.battery_power}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:flash\",\"friendly_name\":\"Battery Power (+/- Discharge/Charge)\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1120,"y":260,"wires":[[]]},{"id":"78a04f1eb81cd4e3","type":"ha-api","z":"e39cfa5e153e8378","g":"cbd241cf07526eba","name":"Publish Grid Net Power","server":"a359a964.7592e8","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/sensor.grid_net_power_w","data":"{\"state\":\"{{payload.external_wattmeter_grid_active_power}}\",\"attributes\":{\"unit_of_measurement\":\"W\",\"state_class\":\"measurement\",\"device_class\":\"power\",\"icon\":\"mdi:transmission-tower\",\"friendly_name\":\"Net Power to/from Grid\"}}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1130,"y":440,"wires":[[]]},{"id":"d8043f74.21d91","type":"modbus-client","name":"Carlo Gavazzi ET112 Wattmeter","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"192.168.1.222","tcpPort":"503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"0","parallelUnitIdsAllowed":true},{"id":"636cb567.cfe544","type":"influxdb","hostname":"192.168.1.222","port":"8086","protocol":"http","database":"influxdb_db","name":"InfluxDB 1.x","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://192.168.1.222:8086","rejectUnauthorized":true},{"id":"a359a964.7592e8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"7c9e7be9.c6b294","type":"modbus-client","name":"Ingecon Sun 1Play Storage","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"192.168.1.222","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":0,"parallelUnitIdsAllowed":true,"info":"INGECON SUN STORAGE 1PLAY TL M MODBUS INPUT REGISTERS\nhttp://www.ingeras.es/manual/ABH2010IMB08.pdf\n\nABH2010IMB08_G.docx (corresponding to firmware version ABH1007_N)\n\nObtained through TCP/502 port from the inverter itself.\n"}]
